*.iml
.gradle
.kotlin
/local.properties
.idea/
.vscode/
.DS_Store
build/
out/
node_modules/
target/
/captures
.externalNativeBuild
.cxx
local.properties
.env
*.env
*.class
*.log
debug.keystore
hs_err_pid*.log
replay_pid*.log
build_output.txt
Thumbs.db
